# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
_3rd/fmt-master/.clang-format
_3rd/fmt-master/.github/dependabot.yml
_3rd/fmt-master/.github/issue_template.md
_3rd/fmt-master/.github/issue_template.md
_3rd/fmt-master/.github/pull_request_template.md
_3rd/fmt-master/test/xchar-test.cc
_3rd/fmt-master/test/util.h
_3rd/fmt-master/test/util.cc
_3rd/fmt-master/test/unicode-test.cc
_3rd/fmt-master/test/test-assert.h
_3rd/fmt-master/test/std-test.cc
_3rd/fmt-master/test/static-export-test/main.cc
_3rd/fmt-master/test/static-export-test/library.cc
_3rd/fmt-master/test/static-export-test/CMakeLists.txt
_3rd/fmt-master/test/scan.h
_3rd/fmt-master/test/scan-test.cc
_3rd/fmt-master/test/ranges-test.cc
_3rd/fmt-master/test/ranges-odr-test.cc
_3rd/fmt-master/test/printf-test.cc
_3rd/fmt-master/test/posix-mock.h
_3rd/fmt-master/test/posix-mock-test.cc
_3rd/fmt-master/test/ostream-test.cc
_3rd/fmt-master/test/os-test.cc
_3rd/fmt-master/test/noexception-test.cc
_3rd/fmt-master/test/module-test.cc
_3rd/fmt-master/test/gtest-extra.cc
_3rd/fmt-master/test/gtest-extra.h
_3rd/fmt-master/test/gtest/.clang-format
_3rd/fmt-master/test/gtest/CMakeLists.txt
_3rd/fmt-master/test/gtest/gmock-gtest-all.cc
_3rd/fmt-master/test/gtest/gmock/gmock.h
_3rd/fmt-master/test/gtest/gtest/gtest-spi.h
_3rd/fmt-master/test/gtest/gtest/gtest.h
_3rd/fmt-master/test/header-only-test.cc
_3rd/fmt-master/test/mock-allocator.h
_3rd/fmt-master/.github/workflows/cifuzz.yml
_3rd/fmt-master/.github/workflows/doc.yml
_3rd/fmt-master/.github/workflows/linux.yml
_3rd/fmt-master/.github/workflows/macos.yml
_3rd/fmt-master/.github/workflows/scorecard.yml
_3rd/fmt-master/.github/workflows/windows.yml
_3rd/fmt-master/ChangeLog.md
_3rd/fmt-master/CMakeLists.txt
_3rd/fmt-master/CONTRIBUTING.md
_3rd/fmt-master/doc/_static/bootstrap.min.js
_3rd/fmt-master/doc/_static/breathe.css
_3rd/fmt-master/doc/_static/fonts/glyphicons-halflings-regular.eot
_3rd/fmt-master/doc/_static/fonts/glyphicons-halflings-regular.svg
_3rd/fmt-master/doc/_static/fonts/glyphicons-halflings-regular.ttf
_3rd/fmt-master/doc/_static/fonts/glyphicons-halflings-regular.woff
_3rd/fmt-master/doc/_templates/layout.html
_3rd/fmt-master/doc/_templates/search.html
_3rd/fmt-master/doc/api.rst
_3rd/fmt-master/doc/basic-bootstrap/layout.html
_3rd/fmt-master/doc/basic-bootstrap/README
_3rd/fmt-master/doc/basic-bootstrap/theme.conf
_3rd/fmt-master/doc/bootstrap/alerts.less
_3rd/fmt-master/doc/bootstrap/badges.less
_3rd/fmt-master/doc/bootstrap/bootstrap.less
_3rd/fmt-master/doc/bootstrap/breadcrumbs.less
_3rd/fmt-master/doc/bootstrap/button-groups.less
_3rd/fmt-master/doc/bootstrap/buttons.less
_3rd/fmt-master/doc/bootstrap/carousel.less
_3rd/fmt-master/doc/bootstrap/close.less
_3rd/fmt-master/doc/bootstrap/code.less
_3rd/fmt-master/doc/bootstrap/component-animations.less
_3rd/fmt-master/doc/bootstrap/dropdowns.less
_3rd/fmt-master/doc/bootstrap/forms.less
_3rd/fmt-master/doc/bootstrap/glyphicons.less
_3rd/fmt-master/doc/bootstrap/grid.less
_3rd/fmt-master/doc/bootstrap/input-groups.less
_3rd/fmt-master/doc/bootstrap/jumbotron.less
_3rd/fmt-master/doc/bootstrap/labels.less
_3rd/fmt-master/doc/bootstrap/list-group.less
_3rd/fmt-master/doc/bootstrap/media.less
_3rd/fmt-master/doc/bootstrap/mixins.less
_3rd/fmt-master/doc/bootstrap/mixins/alerts.less
_3rd/fmt-master/doc/bootstrap/mixins/background-variant.less
_3rd/fmt-master/doc/bootstrap/mixins/border-radius.less
_3rd/fmt-master/doc/bootstrap/mixins/buttons.less
_3rd/fmt-master/doc/bootstrap/mixins/center-block.less
_3rd/fmt-master/doc/bootstrap/mixins/clearfix.less
_3rd/fmt-master/doc/bootstrap/mixins/forms.less
_3rd/fmt-master/doc/bootstrap/mixins/gradients.less
_3rd/fmt-master/doc/bootstrap/mixins/grid-framework.less
_3rd/fmt-master/doc/bootstrap/mixins/grid.less
_3rd/fmt-master/doc/bootstrap/mixins/hide-text.less
_3rd/fmt-master/doc/bootstrap/mixins/image.less
_3rd/fmt-master/doc/bootstrap/mixins/labels.less
_3rd/fmt-master/doc/bootstrap/mixins/list-group.less
_3rd/fmt-master/doc/bootstrap/mixins/nav-divider.less
_3rd/fmt-master/doc/bootstrap/mixins/nav-vertical-align.less
_3rd/fmt-master/doc/bootstrap/mixins/opacity.less
_3rd/fmt-master/doc/bootstrap/mixins/pagination.less
_3rd/fmt-master/doc/bootstrap/mixins/panels.less
_3rd/fmt-master/doc/bootstrap/mixins/progress-bar.less
_3rd/fmt-master/doc/bootstrap/mixins/reset-filter.less
_3rd/fmt-master/doc/bootstrap/mixins/resize.less
_3rd/fmt-master/doc/bootstrap/mixins/responsive-visibility.less
_3rd/fmt-master/doc/bootstrap/mixins/size.less
_3rd/fmt-master/doc/bootstrap/mixins/tab-focus.less
_3rd/fmt-master/doc/bootstrap/mixins/table-row.less
_3rd/fmt-master/doc/bootstrap/mixins/text-emphasis.less
_3rd/fmt-master/doc/bootstrap/mixins/text-overflow.less
_3rd/fmt-master/doc/bootstrap/mixins/vendor-prefixes.less
_3rd/fmt-master/doc/bootstrap/modals.less
_3rd/fmt-master/doc/bootstrap/navbar.less
_3rd/fmt-master/doc/bootstrap/navs.less
_3rd/fmt-master/doc/bootstrap/normalize.less
_3rd/fmt-master/doc/bootstrap/pager.less
_3rd/fmt-master/doc/bootstrap/pagination.less
_3rd/fmt-master/doc/bootstrap/panels.less
_3rd/fmt-master/doc/bootstrap/popovers.less
_3rd/fmt-master/doc/bootstrap/print.less
_3rd/fmt-master/doc/bootstrap/progress-bars.less
_3rd/fmt-master/doc/bootstrap/responsive-embed.less
_3rd/fmt-master/doc/bootstrap/responsive-utilities.less
_3rd/fmt-master/doc/bootstrap/scaffolding.less
_3rd/fmt-master/doc/bootstrap/tables.less
_3rd/fmt-master/doc/bootstrap/theme.less
_3rd/fmt-master/doc/bootstrap/thumbnails.less
_3rd/fmt-master/doc/bootstrap/tooltip.less
_3rd/fmt-master/doc/bootstrap/type.less
_3rd/fmt-master/doc/bootstrap/utilities.less
_3rd/fmt-master/doc/bootstrap/variables.less
_3rd/fmt-master/doc/bootstrap/wells.less
_3rd/fmt-master/doc/build.py
_3rd/fmt-master/doc/CMakeLists.txt
_3rd/fmt-master/doc/conf.py
_3rd/fmt-master/doc/contents.rst
_3rd/fmt-master/doc/fmt.less
_3rd/fmt-master/doc/index.rst
_3rd/fmt-master/doc/python-license.txt
_3rd/fmt-master/doc/syntax.rst
_3rd/fmt-master/doc/usage.rst
_3rd/fmt-master/support/Android.mk
_3rd/fmt-master/support/AndroidManifest.xml
_3rd/fmt-master/support/bazel/.bazelversion
_3rd/fmt-master/support/bazel/BUILD.bazel
_3rd/fmt-master/support/bazel/README.md
_3rd/fmt-master/support/bazel/WORKSPACE.bazel
_3rd/fmt-master/support/build-docs.py
_3rd/fmt-master/support/build.gradle
_3rd/fmt-master/support/C++.sublime-syntax
_3rd/fmt-master/support/cmake/FindSetEnv.cmake
_3rd/fmt-master/support/cmake/fmt-config.cmake.in
_3rd/fmt-master/support/cmake/fmt.pc.in
_3rd/fmt-master/support/cmake/JoinPaths.cmake
_3rd/fmt-master/support/compute-powers.py
_3rd/fmt-master/support/docopt.py
_3rd/fmt-master/support/manage.py
_3rd/fmt-master/support/printable.py
_3rd/fmt-master/support/README
_3rd/fmt-master/support/rtd/conf.py
_3rd/fmt-master/support/rtd/index.rst
_3rd/fmt-master/support/rtd/theme/layout.html
_3rd/fmt-master/support/rtd/theme/theme.conf
_3rd/fmt-master/support/Vagrantfile
_3rd/fmt-master/test/add-subdirectory-test/CMakeLists.txt
_3rd/fmt-master/test/add-subdirectory-test/main.cc
_3rd/fmt-master/test/args-test.cc
_3rd/fmt-master/test/assert-test.cc
_3rd/fmt-master/test/chrono-test.cc
_3rd/fmt-master/test/CMakeLists.txt
_3rd/fmt-master/test/color-test.cc
_3rd/fmt-master/test/compile-error-test/CMakeLists.txt
_3rd/fmt-master/test/compile-fp-test.cc
_3rd/fmt-master/test/compile-test.cc
_3rd/fmt-master/test/core-test.cc
_3rd/fmt-master/test/cuda-test/CMakeLists.txt
_3rd/fmt-master/test/cuda-test/cpp14.cc
_3rd/fmt-master/test/cuda-test/cuda-cpp14.cu
_3rd/fmt-master/test/detect-stdfs.cc
_3rd/fmt-master/test/enforce-checks-test.cc
_3rd/fmt-master/test/find-package-test/CMakeLists.txt
_3rd/fmt-master/test/find-package-test/main.cc
_3rd/fmt-master/test/format-impl-test.cc
_3rd/fmt-master/test/format-test.cc
_3rd/fmt-master/test/fuzzing/build.sh
_3rd/fmt-master/test/fuzzing/chrono-duration.cc
_3rd/fmt-master/test/fuzzing/chrono-timepoint.cc
_3rd/fmt-master/test/fuzzing/CMakeLists.txt
_3rd/fmt-master/test/fuzzing/float.cc
_3rd/fmt-master/test/fuzzing/fuzzer-common.h
_3rd/fmt-master/test/fuzzing/main.cc
_3rd/fmt-master/test/fuzzing/named-arg.cc
_3rd/fmt-master/test/fuzzing/one-arg.cc
_3rd/fmt-master/test/fuzzing/README.md
_3rd/fmt-master/test/fuzzing/two-args.cc
_3rd/fmt-master/test/gtest-extra-test.cc
*.swp
*.ilk
*.pdb
test-file
*.idb
*.swo
